In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
dataset=pd.read_csv(r'C:\Users\harsh\Downloads\Titanic.csv')

In [5]:
dataset.head(5)

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [12]:
dataset['Age'].head(5)

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [18]:
dataset['Age'].tail(5)

1304    28.0
1305    39.0
1306    38.5
1307    28.0
1308    28.0
Name: Age, dtype: float64

In [13]:
np.percentile(dataset['Age'].head(5),0) # 0% of Age or Minimum

np.float64(22.0)

In [14]:
np.percentile(dataset['Age'].head(5),100) # 100% of Age or Maximum

np.float64(38.0)

In [15]:
np.percentile(dataset['Age'].head(5),25) # 25% of Age

np.float64(26.0)

In [16]:
np.percentile(dataset['Age'].head(5),50) # 50% of Age or Median

np.float64(35.0)

In [17]:
np.percentile(dataset['Age'].head(5),75) # 75% of Age

np.float64(35.0)