In [8]:
import pandas as pd
import numpy as np

In [9]:
dataset=pd.read_csv(r'Boston.csv')

In [10]:
dataset.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV,CAT_MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0,0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6,0
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2,1

In [12]:
input_data = dataset.iloc[:, :-1]  # all columns except last
output_data = dataset['MEDV']      # target variable

In [13]:
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,y_test = train_test_split(input_data,output_data,test_size=0.25)

In [20]:
dataset.shape

(506, 14)

In [27]:
x_test.shape , x_train.shape

((127, 13), (379, 13))

In [28]:
y_test.shape , y_train.shape

((127,), (379,))